<h5 class="question-title">
  <strong><%= @question.title %></strong>
</h5>
<div class="question">
  <div class="arrows">
    <% if !!current_user && !(@question.user_id == current_user.id) %>
      <%= render 'shared/object_vote_link', :object => @question,
                 :upvote_url => question_upvote_url(@question),
                 :downvote_url => question_downvote_url(@question) %>
    <% else %>
      <%= render 'shared/object_votes', :object => @question %>
    <% end %>
  </div>
  <pre class="question-body"><%= @question.body %></pre>
  <a href="<%= edit_question_url(@question) %>" class="question-link">
    improve this question
  </a>|
  <a href="<%= new_question_comment_url(@question) %>"
     class="question-link">comment</a>
  <div class="comments">
    <% @question.comments.each do |comment| %>
      <pre class="comment-body"
          ><%= comment.body %> - <%= comment.user.username %></pre>
    <% end %>
  </div>
</div>