<h5 class="question-title">
  <strong><%= @question.title %></strong>
</h5>
<div class="question">
  <div class="arrows">
    <% direction = @question.vote_direction_by_user(current_user.id) %>
    <a href="<%= question_upvote_url(@question) %>"
       data-method="post" rel="nofollow"
       class="<%= direction == "up" ? "voted-up" : "arrow-up" %>"></a>
    <span class="votes"><%= @question.vote_counts %></span>
    <a href="<%= question_downvote_url(@question) %>"
       data-method="post" rel="nofollow"
       class="<%= direction == "down" ? "voted-down" : "arrow-down" %>">
    </a>
  </div>
  <pre class="question-body"><%= @question.body %></pre>
  <a href="<%= edit_question_url(@question) %>" class="question-link">
    improve this question
  </a>|
  <a href="<%= new_question_comment_url(@question) %>"
     class="question-link">comment</a>
  <div class="comments">
    <% @question.comments.each do |comment| %>
      <pre class="comment-body"
          ><%= comment.body %> - <%= comment.user.username %></pre>
    <% end %>
  </div>
</div>