<div class="answer">
  <div class="arrows">
    <!-- Prepend with Arrows stuff -->
    <% if(!!current_user && !question.escape("accepted_answer") &&
              question.escape("user_id") == current_user.id) { %>
    <a class="not-accepted-answer" data-id="<%= answer.escape("id") %>"
       >&#10003</a>
    <% } else if(answer.get("accepted")) { %>
    <span class="accepted-answer">&#10003</span>
    <% } %>
  </div>
  <pre class="answer-body"><%= answer.escape("body") %></pre>
  <div class="answer-links"
    ><a class="answer-link edit-link">improve this answer</a>|<a
        class="answer-link comment-link"
        data-id="<%= answer.escape("id") %>">comment</a></div>
  
  <div class="user-info">
  <!-- Fill in with user info -->
  </div>

  <div class="comments">
    <% answer.comments.forEach(function(comment) { %>
      <pre class="comment-body"
          ><%= comment.escape("body") %> - <%= comment.user().escape("username") %></pre>
    <% }); %>
  </div>
</div>