<h1 class="profile-main-header">
  <img alt="<%= user.escape("username") %>" class="gravatar"
    src="<%= user.escape("gravatar_url") %>">
  <%= user.get("username") %>
</h1>

<ul class="profile-info">
  <h5 class="profile-header">Summary</h5>
  <li>Points: <%= user.get("points") %></li>
  <li>Questions: <%= user.questions.length %></li>
  <li>Answers: <%= user.answers.length %></li>
  <li>Contributions: <%= user.accepted_edit_suggestions.length %></li>
</ul>
<% console.log("this users questions",user.questions) %>
<% if(user.questions.length > 0) { %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= _("Question").pluralize(user.questions.length, true) %>
    </h5>
    <% for(var i = 0; i < user.questions.length; i += 5) { %>
    <ul class="profile-questions hidden"
        id="profile-questions-<%= parseInt((i+1)/5) %>" data-id="<%= parseInt((i+1)/5) %>"
        data-last="<%= parseInt(user.questions.length / 5) %>">
      <% var max = (i+5 < user.questions.length) ? i+5 : user.questions.length %>
      <% for(var j = i; j < max; j++) {  %>
        <% var question = user.questions.at(j) %>
        <li class="profileLi"><a href="#questions/<%= question.escape("id") %>"
          ><%= question.get("title") %></a></li>
      <% } %>
      <span class="more-button">See More Questions</span>
    </ul>
    <% } %>
  </div>
<% } %>

<% if(user.answers.length > 0) { %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= _("Answer").pluralize(user.answers.length, true) %>
    </h5>
    <% for(var i = 0; i < user.answers.length; i += 5) { %>
    <ul class="profile-answers hidden"
        id="profile-answers-<%= parseInt((i+1)/5) %>" data-id="<%= parseInt((i+1)/5) %>"
        data-last="<%= parseInt(user.answers.length / 5) %>">
      <% var max = (i+5 < user.answers.length) ? i+5 : user.answers.length %>
      <% for(var j = i; j < max; j++) {  %>
        <% var answer = user.answers.at(j) %>
        <li class="profileLi"><a
          href="#questions/<%= answer.get("question_id") %>"
          ><%= answer.get("question_title") %></a></li>
      <% } %>
      <span class="more-button">See More Answers</span>
    </ul>
    <% } %>
  </div>
<% } %>

<!-- Only the current user gets pending-edits and suggested-edits -->
<% if(user.suggested_edits.length > 0) { %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= _("Suggested Edit").pluralize(user.suggested_edits.length, true) %>
    </h5>
    <% for(var i = 0; i < user.suggested_edits.length; i += 5) { %>
    <ul class="profile-suggested-edits hidden"
        id="profile-suggested-edits-<%= parseInt((i+1)/5) %>" data-id="<%= parseInt((i+1)/5) %>"
        data-last="<%= parseInt(user.suggested_edits.length / 5) %>">
      <% var max = (i+5 < user.suggested_edits.length) ? i+5 : user.suggested_edits.length %>
      <% for(var j = i; j < max; j++) {  %>
        <% var suggested_edit = user.suggested_edits.at(j) %>
        <li class="profileLi"><a
          href="#edit_suggestions/<%= suggested_edit.escape("id") %>"
          ><%= suggested_edit.get("question_title") %></a></li>
      <% } %>
      <span class="more-button">See More Suggested Edits</span>
    </ul>
    <% } %>
  </div>
<% } %>

<% if(user.pending_edit_suggestions.length > 0) { %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= _("Pending Edits").pluralize(user.pending_edit_suggestions.length, true) %>
    </h5>
    <% for(var i = 0; i < user.pending_edit_suggestions.length; i += 5) { %>
    <ul class="profile-pending-edits hidden"
        id="profile-pending-edits-<%= parseInt((i+1)/5) %>" data-id="<%= parseInt((i+1)/5) %>"
        data-last="<%= parseInt(user.pending_edit_suggestions.length / 5) %>">
      <% var max = (i+5 < user.pending_edit_suggestions.length) ? i+5 : user.pending_edit_suggestions.length %>
      <% for(var j = i; j < max; j++) {  %>
        <% var pending_edit_suggestion = user.pending_edit_suggestions.at(j) %>
        <li class="profileLi"><a
          href="#edit_suggestions/<%= pending_edit_suggestion.get("id") %>"
          ><%= pending_edit_suggestion.get("question_title") %></a></li>
      <% } %>
      <span class="more-button">See More Pending Edits</span>
    </ul>
    <% } %>
  </div>
<% } %>

<% if(user.accepted_edit_suggestions.length > 0) { %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= _("Accepted Edit").pluralize(user.accepted_edit_suggestions.length, true) %>
    </h5>
    <% for(var i = 0; i < user.accepted_edit_suggestions.length; i += 5) { %>
    <ul class="profile-accepted-edits hidden"
        id="profile-accepted-edits-<%= parseInt((i+1)/5) %>" data-id="<%= parseInt((i+1)/5) %>"
        data-last="<%= parseInt(user.accepted_edit_suggestions.length / 5) %>">
      <% var max = (i+5 < user.accepted_edit_suggestions.length) ? i+5 : user.accepted_edit_suggestions.length %>
      <% for(var j = i; j < max; j++) {  %>
        <% var accepted_edit_suggestion = user.accepted_edit_suggestions.at(j) %>
        <li class="profileLi"><a
          href="#edit_suggestions/<%= accepted_edit_suggestion.get("id") %>"
          ><%= accepted_edit_suggestion.get("question_title") %></a></li>
      <% } %>
      <span class="more-button">See More Accepted Edits</span>
    </ul>
    <% } %>
  </div>
<% } %>