<h1 class="centered-header"><%= @user.username.capitalize %></h1>
<% unless @user.questions.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.questions.count, "Question") %>
    </h5>
    <ul>
      <% @user.questions.each do |question| %>
        <li class="profileLi"><%= link_to question.title, question %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless @user.answers.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.answers.count, "Answer") %>
    </h5>
    <ul>
      <% @user.answers.each do |answer| %>
        <li class="profileLi">
          <%= link_to answer.question.title, answer.question %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @user.id == current_user.id %>
<% unless @user.suggested_edits.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.suggested_edits.count, "Edit Suggestion") %>
    </h5>
    <ul>
      <% @user.suggested_edits.includes(:editable).each do |edit_suggestion| %>
        <li class="profileLi">
          <%= link_to "#{edit_suggestion.question.title}: #{edit_suggestion.editable_type}",
                edit_suggestion %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless @user.pending_edit_suggestions.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.pending_suggested_edits.count, "Pending Edit") %>
    </h5>
    <ul>
      <% @user.pending_edit_suggestions.each do |suggested_edit| %>
        <li class="profileLi">
          <%= link_to "#{suggested_edit.question.title}: #{suggested_edit.editable_type}",
              suggested_edit %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<% end %>

<% unless @user.accepted_edit_suggestions.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.accepted_edit_suggestions.count, "Accepted Edit") %>
    </h5>
    <ul>
      <% @user.accepted_edit_suggestions.each do |suggested_edit| %>
        <li class="profileLi">
          <%= link_to "#{suggested_edit.question.title}: #{suggested_edit.editable_type}",
              suggested_edit %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>