<h1 class="profile-main-header">
  <%= image_tag(@user.gravatar_url, alt: @user.username, class: "gravatar") %>
  <%= @user.username %>
</h1>

<ul class="profile-info">
  <h5 class="profile-header">Summary</h5>
  <li>Points: <%= @user.points %></li>
  <li>Questions: <%= @user.questions.count %></li>
  <li>Answers: <%= @user.answers.count %></li>
  <li>Contributions: <%= @user.accepted_edit_suggestions.count %></li>
</ul>

<% unless @user.questions.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.questions.count, "Question") %>
    </h5>
    <ul>
      <% @user.questions.each do |question| %>
        <li class="profileLi"><%= link_to question.title, question %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless @user.answers.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.answers.count, "Answer") %>
    </h5>
    <ul>
      <% @user.answers.each do |answer| %>
        <li class="profileLi">
          <%= link_to answer.question.title, answer.question %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if !!current_user && @user.id == current_user.id %>
<% unless @user.suggested_edits.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.suggested_edits.count, "Suggested Edit") %>
    </h5>
    <ul>
      <% @user.suggested_edits.each do |edit_suggestion| %>
        <li class="profileLi">
          <%= link_to "#{edit_suggestion.question.title}: #{edit_suggestion.editable_type}",
                edit_suggestion %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless @user.pending_edit_suggestions.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.pending_edit_suggestions.count, "Pending Edit") %>
    </h5>
    <ul>
      <% @user.pending_edit_suggestions.each do |suggested_edit| %>
        <li class="profileLi">
          <%= link_to "#{suggested_edit.question.title}: #{suggested_edit.editable_type}",
              suggested_edit %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<% end %>

<% unless @user.accepted_edit_suggestions.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.accepted_edit_suggestions.count, "Accepted Edit") %>
    </h5>
    <ul>
      <% @user.accepted_edit_suggestions.each do |suggested_edit| %>
        <li class="profileLi">
          <%= link_to "#{suggested_edit.question.title}: #{suggested_edit.editable_type}",
              suggested_edit %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>