<h1 class="profile-main-header">
  <%= image_tag(@user.gravatar_url, alt: @user.username, class: "gravatar") %>
  <%= @user.username %>
</h1>

<ul class="profile-info">
  <h5 class="profile-header">Summary</h5>
  <li>Points: <%= @user.points %></li>
  <li>Questions: <%= @user.questions.count %></li>
  <li>Answers: <%= @user.answers.count %></li>
  <li>Contributions: <%= @user.accepted_edit_suggestions.count %></li>
</ul>

<% unless @user.questions.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.questions.count, "Question") %>
    </h5>
    <% 0.step(@user.questions.count, 5) do |i| %>
    <ul class="profile-questions hidden"
        id="profile-questions-<%= (i+1)/5 %>" data-id="<%= (i+1)/5 %>"
        data-last="<%= @user.questions.count / 5 %>">
      <% @user.questions[i...(i+5)].each do |question| %>
        <li class="profileLi"><%= link_to question.title, question %></li>
      <% end %>
      <span class="more-button">See More Questions</span>
    </ul>
    <% end %>
  </div>
<% end %>

<% unless @user.answers.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.answers.count, "Answer") %>
    </h5>
    <% 0.step(@user.answers.count, 5) do |i| %>
    <ul class="profile-answers hidden"
        id="profile-answers-<%= (i+1)/5 %>" data-id="<%= (i+1)/5 %>"
        data-last="<%= @user.answers.count / 5 %>">
      <% @user.answers[i...(i+5)].each do |answer| %>
        <li class="profileLi">
          <%= link_to answer.question_title, answer.question %>
        </li>
      <% end %>
      <span class="more-button">See More Answers</span>
    </ul>
    <% end %>
  </div>
<% end %>

<% if !!current_user && @user.id == current_user.id %>
<% unless @user.suggested_edits.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.suggested_edits.count, "Suggested Edit") %>
    </h5>
    <% 0.step(@user.suggested_edits.count, 5) do |i| %>
    <ul class="profile-suggested-edits hidden"
        id="profile-suggested-edits-<%= (i+1)/5 %>" data-id="<%= (i+1)/5 %>"
        data-last="<%= @user.suggested_edits.count / 5 %>">
      <% @user.suggested_edits[i...i+5].each do |edit_suggestion| %>
        <li class="profileLi">
          <%= link_to "#{edit_suggestion.question_title}: #{edit_suggestion.editable_type}",
                edit_suggestion %>
        </li>
      <% end %>
      <span class="more-button">See More Suggested Edits</span>
    </ul>
    <% end %>
  </div>
<% end %>

<% unless @user.pending_edit_suggestions.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.pending_edit_suggestions.count, "Pending Edit") %>
    </h5>
    <% 0.step(@user.pending_edit_suggestions.count, 5) do |i| %>
    <ul class="profile-pending-edits hidden"
        id="profile-pending-edits-<%= (i+1)/5 %>" data-id="<%= (i+1)/5 %>"
        data-last="<%= @user.pending_edit_suggestions.count / 5 %>">
      <% @user.pending_edit_suggestions[i...i+5].each do |suggested_edit| %>
        <li class="profileLi">
          <%= link_to "#{suggested_edit.question_title}: #{suggested_edit.editable_type}",
              suggested_edit %>
        </li>
      <% end %>
      <span class="more-button">See More Pending Edits</span>
    </ul>
    <% end %>
  </div>
<% end %>
<% end %>

<% unless @user.accepted_edit_suggestions.empty? %>
  <div class="profile-list">
    <h5 class="profile-header">
      <%= pluralize(@user.accepted_edit_suggestions.count, "Accepted Edit") %>
    </h5>
    <% 0.step(@user.accepted_edit_suggestions.count, 5) do |i| %>
    <ul class="profile-accepted-edits hidden"
        id="profile-accepted-edits-<%= (i+1)/5 %>" data-id="<%= (i+1)/5 %>"
        data-last="<%= @user.accepted_edit_suggestions.count / 5 %>">
      <% @user.accepted_edit_suggestions[i...i+5].each do |suggested_edit| %>
        <li class="profileLi">
          <%= link_to "#{suggested_edit.question_title}: #{suggested_edit.editable_type}",
              suggested_edit %>
        </li>
      <% end %>
      <span class="more-button">See More Accepted Edits</span>
    </ul>
    <% end %>
  </div>
<% end %>