<div class="answer">
  <div class="arrows">
    <% direction = answer.vote_direction_by_user(current_user.id) %>
      <a href="<%= answer_upvote_url(answer) %>"
       data-method="post" rel="nofollow"
       class="<%= direction == "up" ? "voted-up" : "arrow-up" %>"></a>
    <span class="votes"><%= answer.vote_counts %></span>
    <a href="<%= answer_downvote_url(answer) %>"
       data-method="post" rel="nofollow"
       class="<%= direction == "down" ? "voted-down" : "arrow-down" %>">
    </a>
  </div>
  <pre class="answer-body"><%= answer.body %></pre>
  <a href="<%= edit_answer_url(answer) %>" class="answer-link">
    improve this answer
  </a>|
  <a href="<%= new_answer_comment_url(answer) %>"
     class="answer-link">comment</a>
  <div class="comments">
    <% answer.comments.each do |comment| %>
      <pre class="comment-body"
          ><%= comment.body %> - <%= comment.user.username %></pre>
    <% end %>
  </div>
</div>