<div class="answer">
  <div class="arrows">
    <div class="arrows">
    <%= link_to "<div class=\"arrow-up\"></div>".html_safe,
               answer_upvote_url(answer), :method => :post %>
    <span class="votes"><%= answer.vote_counts %></span>
    <%= link_to "<div class=\"arrow-down\"></div>".html_safe,
               answer_downvote_url(answer), :method => :post %>
  </div>
  </div>
  <pre class="answer-body"><%= answer.body %></pre>
  <a href="<%= edit_answer_url(answer) %>" class="answer-link">
    improve this answer
  </a>|
  <a href="<%= new_answer_comment_url(answer) %>"
     class="answer-link">comment</a>
  <div class="comments">
    <% answer.comments.each do |comment| %>
      <pre class="comment-body"
          ><%= comment.body %> - <%= comment.user.username %></pre>
    <% end %>
  </div>
</div>