<div class="answer">
  <div class="arrows">
    <% if !!current_user && !(answer.user_id == current_user.id) %>
      <%= render 'shared/object_vote_link', :object => answer,
                 :upvote_url => answer_upvote_url(answer),
                 :downvote_url => answer_downvote_url(answer) %>
    <% else %>
      <%= render 'shared/object_votes', :object => answer %>
    <% end %>
    <% if !!current_user && !@question.accepted_answer &&
          @question.user_id == current_user.id %>
    <a href="<%= answer_accept_url(answer) %>"
       class="not-accepted-answer" data-method="put" rel="nofollow">
      &#10003
    </a>
    <% elsif @question.accepted_answer &&
             @question.accepted_answer.id == answer.id %>
    <span class="accepted-answer">&#10003</span>
    <% end %>
  </div>
  <pre class="answer-body"><%= answer.body %></pre>
  <div class="answer-links">
    <a href="<%= edit_answer_url(answer) %>" class="answer-link">
      improve this answer
    </a>|
    <a href="<%= new_answer_comment_url(answer) %>"
       class="answer-link">comment</a>
  </div>
  <div class="comments">
    <% answer.comments.each do |comment| %>
      <pre class="comment-body"
          ><%= comment.body %> - <%= comment.user.username %></pre>
    <% end %>
  </div>
</div>