<div class="answer">
  <% if !!current_user %>
  <div class="arrows">
    <% direction = answer.vote_direction_by_user(current_user.id) %>
      <a href="<%= answer_upvote_url(answer) %>"
       data-method="post" rel="nofollow"
       class="<%= direction == "up" ? "voted-up" : "arrow-up" %>"></a>
    <span class="votes"><%= answer.vote_counts %></span>
    <a href="<%= answer_downvote_url(answer) %>"
       data-method="post" rel="nofollow"
       class="<%= direction == "down" ? "voted-down" : "arrow-down" %>">
    </a>
    <% if @question.accepted_answer.empty? && @question.user_id == current_user.id %>
    <a href="<%= answer_accept_url(answer) %>"
       class="not-accepted-answer" data-method="put" rel="nofollow">
      &#10003
    </a>
    <% elsif @question.accepted_answer.first.id == answer.id %>
    <span class="accepted-answer">&#10003</span>
    <% end %>
  </div>
  <% end %>
  <pre class="answer-body"><%= answer.body %></pre>
  <div class="answer-links">
    <a href="<%= edit_answer_url(answer) %>" class="answer-link">
      improve this answer
    </a>|
    <a href="<%= new_answer_comment_url(answer) %>"
       class="answer-link">comment</a>
  </div>
  <div class="comments">
    <% answer.comments.each do |comment| %>
      <pre class="comment-body"
          ><%= comment.body %> - <%= comment.user.username %></pre>
    <% end %>
  </div>
</div>