<% if type == "new" %>
  <% action = question_answers_url(@question) %>
  <% method = "post" %>
  <% button = "Post Your Answer" %>
<% else %>
  <% action = answer_url(@answer) %>
  <% method = "put" %>
  <% if @answer.user_id == current_user.id %>
    <% button = "Update Your Answer" %>
  <% else %>
    <% button = "Submit Edit" %>
  <% end %>
<% end %>

<form action="<%= action %>" method="post" class="answers-form">
  <input type="hidden" name="_method" value="<%= method %>">

  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="answer_body"></label>
  <textarea name="answer[body]" id="answer_body"
  rows="20" cols="20"><%= @answer.body %></textarea>

  <input type="submit" value="<%= button %>" class="submit-button">
</form>