<% body1 = @suggestion.editable.body.split("\n") %>
<% body2 = @suggestion.body.split("\n") %>

<h1 class="centered-header">
  Suggested Edit for <%= "#{@suggestion.question_title}: #{@suggestion.editable_type}" %>
</h1>

<div class="edit-bodies">
  <div class="edit-bodies-div">
    <h5 class="suggestion-header">Original Post</h5>
    <div class="edit-compare-div">
      <% body1.each_with_index do |line, i| %>
        <span class="edit-line"><%= "#{i+1} | #{line}" %></span>
      <% end %>
    </div>
  </div>
  
  <div class="edit-bodies-div">
    <h5 class="suggestion-header">Suggested Post</h5>
    <div class="edit-compare-div">
      <% body2.each_with_index do |line, i| %>
        <span class="edit-line"><%= "#{i+1} | #{line}" %></span>
      <% end %>
    </div>
  </div>
</div>

<% if !@suggestion.accepted && @suggestion.editable.user_id == current_user.id %>
  <div class="suggestion-forms">
    <form action="<%= edit_suggestion_accept_url(@suggestion) %>"
          method="post" class="suggestion-form">
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="authenticity_token"
             value="<%= form_authenticity_token %>">
      <input type="submit" class="accept-button" value="Accept Edit">
    </form>

    <form action="<%= edit_suggestion_reject_url(@suggestion) %>"
          method="post" class="suggestion-form">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token"
             value="<%= form_authenticity_token %>">
      <input type="submit" class="reject-button" value="Reject Edit">
    </form>
  </div>
<% end %>