<div class="arrows">
  <% if(!!current_user && !(question.escape("user_id") == current_user.id)) { %>
      <!-- Fill in with arrows and links -->
  <% } else { %>
      <!-- Fill in with static arrows -->
  <% } %>
</div>
<pre class="question-body"><%= question.escape("body") %></pre>
<a href="#questions/<%= question.escape("id") %>/edit"
   class="question-link">improve this question</a>|<a
     class="answer-link comment-link"
     data-id="<%= answer.escape("id") %>">comment</a>
<%= render 'shared/obj_user_info', :obj => question %>
<div class="comments">
  <% question.comments.forEach(function(comment) { %>
    <pre class="comment-body"
        ><%= comment.escape("body") %> - <%= comment.user().escape("username") %></pre>
  <% } %>
</div>