<h1 class="centered-header">Questions</h1>

<ul class="questions-list">
  <% questions.forEach(function(question) { %>
    <% if(question.escape("title").length > 50) { %>
      <% show_title = question.escape("title").slice(0,50) + "..."; %>
    <% } else { %>
      <% show_title = question.escape("title"); %>
    <% } %>
    
    <li class="questionLi">
      <div class="question-info">
        <% var votes = _("vote").pluralize(question.escape("vote_counts"), true); %>
        <% var answers = _("answer").pluralize(question.answers.length, true); %>
        <span class="question-votes">
          <strong class="question-num"><%= votes.split(" ")[0] %></strong>
          <%= votes.split(" ")[1] %>
        </span>
        <span class="question-answers">
          <strong class="question-num"><%= answers.split(" ")[0] %></strong>
          <%= answers.split(" ")[1] %>
        </span>
      </div>
      <span class="question">
        <a href="#questions/<%= question.escape("id") %>"><%= show_title %></a>
        <span class="question-body">
          <%= question.escape("body").slice(0,75) + "..." %>
        </span>
      </span>
    </li>
  <% }); %>
</ul>