<!DOCTYPE html>
<html>
<head>
  <title>HackUnderflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
    <ul class="left">
      <li class="divider"></li>
      <li><strong>Hack Underflow</strong></li>
      <li class="divider"></li>
    </ul>
    <ul class="right">
      <li class="divider"></li>
    <% if current_user %>
      <li>
      <%= link_to "Sign Out", session_url, :method => :delete %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to "Profile", current_user %>
      </li>
      <li class="divider"></li>
      <li>Hi <%= current_user.username.capitalize %></li>
      <li class="divider"></li>
    <% else %>
      <li>
      <%= link_to "Register", new_user_url %>
      <li class="divider"></li>
      </li>
      <li>
      <%= link_to "Sign In", new_user_url %>
      </li>
    <% end %>
      <li class="divider show-for-small"></li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
